<!DOCTYPE html>
<html layout:decorator="/layout/dashboard">
    <body>
        <section class="user" layout:fragment="content">
            <div class="content">
                <div th:if="${error}" class="errorblock">
                    <span th:remove="tag" th:text="#{account.form.edit.error}"></span>
                    <ul>
                        <li th:if="${weakPassword}" th:text="#{account.form.edit.error.weakPassword}"></li>
                        <li th:if="${confirmError}" th:text="#{account.form.edit.error.confirmError}"></li>
                        <li th:if="${emailConflict}">
                            <span th:remove="tag" th:text="#{account.form.edit.error.emailConflict.part1}"></span>
                            <span th:text="${oldEmail}" th:remove="tag"></span>
                            <span th:remove="tag" th:text="#{account.form.edit.error.emailConflict.part2}"></span>
                        </li>
                        <li th:if="${emailError}">
                            <span th:text="${oldEmail}" th:remove="tag"></span>
                            <span th:remove="tag" th:text="#{account.form.edit.error.emailError}"></span>
                        </li>
                    </ul>
                </div>
                <div th:if="${ok}" class="okblock">
                    <span th:remove="tag" th:text="#{account.form.ok}"></span> <span th:if="${emailInfo}" th:remove="tag" th:text="#{account.form.edit.ok.emailInfo}"></span>
                </div>
                <h1 th:text="#{account.edit.title}"></h1>
                <form method="post" th:action="@{/dashboard/account}" th:object="${user}">
                    <table>
                        <tr>
                            <td th:text="#{account.form.username}"></td>
                            <td sec:authentication="name"></td>
                        </tr>
                    </table>
                    <h2 th:text="#{account.form.edit.changeEmail}"></h2>
                    <table>
                        <tr>
                            <td th:text="#{account.form.email}"></td>
                            <td><input type="text" th:field="*{email}" /></td>
                        </tr>
                    </table>
                    <h2 th:text="#{account.form.edit.changePassword}"></h2>
                    <p th:text="#{account.form.edit.changePassword.text}"></p>
                    <table>
                        <tr>
                            <td th:text="#{account.form.password}"></td>
                            <td><input type="password" th:field="*{password}" /></td>
                        </tr>
                        <tr>
                            <td th:text="#{account.form.confirmPassword}"></td>
                            <td><input type="password" th:field="*{confirmPassword}" /></td>
                        </tr>
                    </table>
                    <input type="submit" value="Change" />
                </form>
                <h2 th:text="#{account.delete.title}"></h2>
                <p th:text="#{account.delete.text}"></p>
                <form method="post" th:action="@{/dashboard/deleteAccount}" th:onsubmit="'javascript:return confirm(\'' + #{account.form.delete.confirm} + '\');'">
                    <input type="submit" th:value="#{account.form.delete.send}" />
                </form>
            </div>
        </section>
    </body>
</html>
