<!DOCTYPE html>
<html layout:decorator="/layout/dashboard">
    <body>
        <section class="contacts" layout:fragment="content">
            <div class="content">
                <h1><span th:remove="tag" th:text="#{contactDetail.title}"></span> <span th:remove="tag" th:text="#{separator}"></span> <span th:remove="tag" th:text="#{contactDetail.edit.title}"></span></h1>
                <form method="post">
                    <table th:object="${contactDetail}">
                        <tr>
                            <td th:text="#{contactDetail.form.title}"></td>
                            <td>
                                <input type="text" th:field="*{title}" />
                                <input type="hidden" th:field="*{contactDetailId}" />
                                <input type="hidden" th:field="*{contactId}" />
                                <input type="hidden" th:field="*{userId}" />
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{contactDetail.form.down}"></td>
                            <td>
                                <input type="checkbox" th:field="*{down}" />
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{contactDetail.form.up}"></td>
                            <td>
                                <input type="checkbox" th:field="*{up}" />
                            </td>
                        </tr>
                        <tr>
                            <td th:text="#{contactDetail.form.regular}"></td>
                            <td>
                                <input type="checkbox" th:field="*{regular}" />
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr th:object="${formStruct.arrData[__${inputStat.index}__]}" th:each="input,inputStat: ${inputs}">
                            <td>
                                <span th:text="${input.title}"></span><br />
                                <span class="description" th:text="${input.description}"></span>
                            </td>
                            <td th:switch="${input.type}">
                                <input th:case="checkbox" type="checkbox" value="true" th:field="*{value}" />
                                <select th:case="select" th:field="*{value}">
                                    <option th:each="option : ${input.options}" th:text="${option}" th:value="${option}"></option>
                                </select>
                                <input th:case="*" th:type="${input.type}" th:field="*{value}" />
                                <input type="hidden" th:field="*{name}" />
                                <input type="hidden" th:field="*{type}" />
                            </td>
                        </tr>
                    </table>
                    <input type="submit" th:value="#{contactDetail.form.edit.send}" />
                </form>
            </div>
        </section>
    </body>
</html>
