<!DOCTYPE html>
<html layout:decorator="/layout/dashboard">
    <body>
        <section class="contacts" layout:fragment="content">
            <div class="content">
                <h1><span th:remove="tag" th:text="#{contact.title}"></span> <span th:remove="tag" th:text="#{separator}"></span> <span th:remove="tag" th:text="#{contact.edit.title}"></span></h1>
                <form method="post" th:object="${contact}">
                    <table>
                        <tr>
                            <td th:text="#{contact.form.title}"></td>
                            <td>
                                <input type="text" th:field="*{title}" />
                                <input type="hidden" th:field="*{contactId}" />
                                <input type="hidden" th:field="*{userId}" />
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="Save" />
                    <h2 th:text="#{contact.form.details.title}"></h2>
                    <table th:unless="${#lists.isEmpty(contact.contactDetail)}">
                        <tr th:each="contactDetail: ${contact.contactDetail}">
                            <td><a th:href="@{/dashboard/contactDetail/edit(id=${contactDetail.contactDetailId})}" th:text="${contactDetail.title}"></a></td>
                            <td><a th:href="@{/dashboard/contactDetail/remove(id=${contactDetail.contactDetailId})}" th:text="#{remove}" th:onclick="'javascript:return confirm(\'' + #{contact.form.details.remove} + '\');'"></a></td>
                            <td><a th:href="@{/dashboard/contactDetail/edit(id=${contactDetail.contactDetailId})}" th:text="#{edit}"></a></td>
                        </tr>
                    </table>
                    <p th:if="${#lists.isEmpty(contact.contactDetail)}" th:text="#{contact.form.details.empty}"></p>
                    <p><a th:href="@{/dashboard/contactDetail/add(id=${contact.contactId})}" class="add" th:text="#{contact.form.details.add}"></a></p>
                    <h2 th:text="#{contact.form.connect.title}"></h2>
                    <table th:unless="${#lists.isEmpty(checks)}">
                        <tr th:each="check: ${checks}">
                            <td><a th:href="@{/dashboard/checks/edit(id=${check.checkId})}" th:text="${check.title}"></a></td>
                            <td><a th:href="@{/dashboard/contacts/connect(contactId=${contact.contactId}, checkId=${check.checkId}, remove=true)}" th:text="#{remove}" th:onclick="'javascript:return confirm(\'' + #{contact.form.connect.remove} + '\');'"></a></td>
                        </tr>
                    </table>
                    <p th:if="${#lists.isEmpty(checks)}" th:text="#{contact.form.connect.empty}"></p>
                    <p><a th:href="@{/dashboard/contacts/connect(id=${contact.contactId})}" class="add" th:text="#{contact.form.connect.add}"></a></p>
                </form>
            </div>
        </section>
    </body>
</html>
