<!DOCTYPE html>
<html layout:decorator="/layout/dashboard">
    <body>
        <section layout:fragment="content">
            <div class="content">
                <h1>Dashboard</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet, ipsum non convallis dignissim, mi orci varius erat, pulvinar sodales risus felis in nisi. Aenean quis mauris eu urna vehicula vehicula. Cras bibendum urna lacus, ac imperdiet tellus sodales id. Mauris sollicitudin nisl metus, ac lacinia nunc pulvinar sed. Phasellus ornare ut dui eu euismod. Praesent convallis tortor ac lorem luctus accumsan. Aenean mollis sem in nibh consectetur eleifend ut imperdiet ante. Curabitur lobortis convallis enim, nec mattis dolor sollicitudin quis. In mauris purus, mattis sed consequat et, imperdiet sit amet lectus. Aenean orci dolor, malesuada et pharetra at, facilisis at leo. Pellentesque laoreet, leo in sodales posuere, dui sapien molestie augue, in facilisis mauris enim ac nulla. Nunc a posuere metus.</p>
                <p>Maecenas sollicitudin erat nec lectus iaculis, quis varius lectus mollis. Suspendisse eleifend convallis semper. Duis dictum euismod ante sit amet ullamcorper. Phasellus suscipit eget nisi eu molestie. Integer a eros euismod, interdum metus quis, porttitor sem. Nunc neque felis, viverra eu quam sed, tincidunt cursus ante. Quisque justo nulla, posuere nec dolor ac, convallis luctus urna. Nam erat magna, ullamcorper non tincidunt ac, rhoncus at nulla. Pellentesque dolor neque, bibendum sit amet sem nec, sollicitudin mollis lectus. Integer vel venenatis felis. Mauris nec nibh mollis, pellentesque ligula ac, volutpat elit. Nulla nulla quam, sodales at dapibus quis, accumsan vel felis. Nam quis neque sed velit gravida luctus. Cras vel hendrerit risus. Nullam vel ante iaculis, sodales urna a, ultrices neque.</p>
            </div>
        </section>
    </body>
</html>
