<!DOCTYPE html>
<html layout:decorator="/layout/dashboard">
    <head>
        <link type="text/css" rel="stylesheet" media="all" th:href="@{/assets/css/vendor/jquery.jqplot.min.css}" />
        <!--[if lt IE 9]><script th:src="@{/assets/js/vendor/excanvas.min.js}"></script><![endif]-->
        <script th:src="@{/assets/js/vendor/jquery.jqplot.min.js}"></script>
        <script th:src="@{/assets/js/vendor/jqplot.pieRenderer.min.js}"></script>
        <script th:src="@{/assets/js/vendor/jqplot.dateAxisRenderer.min.js}"></script>
        <script th:src="@{/assets/js/graphs.js}"></script>
        <script th:inline="javascript">
            /*[+
                var payDaySlices = [
                    ['Uptime',[[${chartLastDay[1]}]]],
                    ['Downtime',[[${chartLastDay[2]}]]],
                    ['Unmonitored',[[${chartLastDay[0]}]]]
                ];
                var payWeekSlices = [
                    ['Uptime',[[${chartLastWeek[1]}]]],
                    ['Downtime',[[${chartLastWeek[2]}]]],
                    ['Unmonitored',[[${chartLastWeek[0]}]]]
                ];
                var payMonthSlices = [
                    ['Uptime',[[${chartLastMonth[1]}]]],
                    ['Downtime',[[${chartLastMonth[2]}]]],
                    ['Unmonitored',[[${chartLastMonth[0]}]]]
                ];
                var allTimeBasicData = [[${allTime}]];
            +]*/
        </script>
    </head>
    <body>
        <section layout:fragment="content" class="reports">
            <div class="content">
                <h1 th:text="${title}"></h1>
                <div class="clearfix pies">
                    <div class="pie">
                        <h2>Last 24 hours</h2>
                        <div id="pieDay"></div>
                    </div>
                    <div class="pie">
                        <h2>Last 7 days</h2>
                        <div id="pieWeek"></div>
                    </div>
                    <div class="pie">
                        <h2>Last 30 days</h2>
                        <div id="pieMonth"></div>
                    </div>
                </div>
                <div class="allTime" id="allTime"></div>
                <table class="results">
                    <tr>
                        <th>Status</th>
                        <th>Time</th>
                        <if th:unless="${#lists.isEmpty(tableValues)}" th:remove="tag">
                            <th th:each="header : ${tableHeader}" th:text="${header}"></th>
                        </if>
                    </tr>
                <loop th:remove="tag" th:each="result,resultStat: ${results}">
                    <tr class="down" th:if="${result.status == 'D'}">
                        <td>DOWN</td>
                        <td th:text="${result.time}"></td>
                        <if th:unless="${#lists.isEmpty(tableValues)}" th:remove="tag">
                            <td th:each="column: ${tableValues[__${resultStat.index}__]}" th:text="${column}"></td>
                        </if>
                    </tr>
                    <tr class="up" th:if="${result.status == 'U'}">
                        <td>UP</td>
                        <td th:text="${result.time}"></td>
                        <if th:unless="${#lists.isEmpty(tableValues)}" th:remove="tag">
                            <td th:each="column: ${tableValues[__${resultStat.index}__]}" th:text="${column}"></td>
                        </if>
                    </tr>
                    <tr class="run" th:if="${result.status == 'R'}">
                        <td>RUN</td>
                        <td th:text="${result.time}"></td>
                        <if th:unless="${#lists.isEmpty(tableValues)}" th:remove="tag">
                            <td th:each="column: ${tableValues[__${resultStat.index}__]}" th:text="${column}"></td>
                        </if>
                    </tr>
                    <tr class="stop" th:if="${result.status == 'S'}">
                        <td>STOP</td>
                        <td th:text="${result.time}"></td>
                        <if th:unless="${#lists.isEmpty(tableValues)}" th:remove="tag">
                            <td th:each="column: ${tableValues[__${resultStat.index}__]}" th:text="${column}"></td>
                        </if>
                    </tr>
                </loop>
                </table>
            </div>
        </section>
    </body>
</html>
