<!DOCTYPE html>
<html layout:decorator="/layout/dashboard">
    <body>
        <section layout:fragment="content">
            <div class="content">
                <h1>Tests / add test</h1>
                <form method="post" th:object="${test}">
                    <table>
                        <tr>
                            <td>Title:</td>
                            <td><input type="text" th:field="*{title}" /></td>
                        </tr>
                        <tr>
                            <td>Check plugin:</td>
                            <td>
                                <select th:field="*{pluginFilename}">
                                    <option th:each="plugin : ${plugins}" th:value="${plugin.filename}" th:text="${plugin.title}"></option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <p>After saving the test, edit it and fill all inputs to start testing.</p>
                    <input type="submit" value="Save" />
                </form>
            </div>
        </section>
    </body>
</html>
