<!DOCTYPE html>
<html layout:decorator="/layout/dashboard">
    <body>
        <section layout:fragment="content">
            <div class="content">
                <h1>Tests / connect to contact</h1>
                <form method="post" th:object="${report}">
                    <select th:field="*{contactId}">
                        <option th:each="contact : ${contacts}" th:value="${contact.contactId}" th:text="${contact.title}"></option>
                    </select>
                    <input type="submit" value="Save" />
                </form>
            </div>
        </section>
    </body>
</html>
