<!DOCTYPE html>
<html layout:decorator="/layout/dashboard">
    <body>
        <section class="tests" layout:fragment="content">
            <div class="content">
                <h1>Test</h1>
                <table th:unless="${#lists.isEmpty(tests)}">
                    <tr th:each="test: ${tests}">
                        <td><a th:href="@{/dashboard/tests/edit(id=${test.testId})}" th:text="${test.title}"></a></td>
                        <td><a th:href="@{/dashboard/tests/remove(id=${test.testId})}" onclick="return confirm('Do you really want to delete this test and permanently lose everything connected with it?');">remove</a></td>
                        <td><a th:href="@{/dashboard/tests/edit(id=${test.testId})}">edit</a></td>
                    </tr>
                </table>
                <p th:if="${#lists.isEmpty(tests)}">No tests</p>
                <p><a th:href="@{/dashboard/tests/add}" class="add">add new test</a></p>
            </div>
        </section>
    </body>
</html>
