<!DOCTYPE html>
<html layout:decorator="/layout/dashboard">
    <body>
        <section class="contacts" layout:fragment="content">
            <div class="content">
                <h1><span th:remove="tag" th:text="#{admin.agent.title}"></span> <span th:remove="tag" th:text="#{separator}"></span> <span th:remove="tag" th:text="#{admin.agent.edit}"></span></h1>
                <form method="post" th:object="${agent}">
                    <table>
                        <tr>
                            <td th:text="#{admin.agent.form.ip}"></td>
                            <td>
                                <input type="text" th:field="*{ip}" />
                                <input type="hidden" th:field="*{agentId}" />
                            </td>
                            <td class="error"><p th:if="${#fields.hasErrors('ip')}" th:errors="*{ip}"></p></td>
                        </tr>
                        <tr>
                            <td th:text="#{admin.agent.form.post}"></td>
                            <td><input type="text" th:field="*{postAddress}" /></td>
                            <td class="error"><p th:if="${#fields.hasErrors('postAddress')}" th:errors="*{postAddress}"></p></td>
                        </tr>
                        <tr>
                            <td th:text="#{admin.agent.form.location}"></td>
                            <td><input type="text" th:field="*{location}" /></td>
                            <td class="error"><p th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></p></td>
                        </tr>
                        <tr>
                            <td th:text="#{admin.agent.form.enabled}"></td>
                            <td><input type="checkbox" th:field="*{enabled}" /></td>
                            <td class="error"><p th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}"></p></td>
                        </tr>
                    </table>
                    <input type="submit" th:value="#{admin.agent.form.edit.send}" />
                </form>
            </div>
        </section>
    </body>
</html>
