<!DOCTYPE html>
<html layout:decorator="/layout/admin">
    <body>
        <section layout:fragment="content">
            <div class="content">
                <h1><span th:remove="tag" th:text="#{admin.plugin.title}"></span> <span th:remove="tag" th:text="#{separator}"></span> <span th:remove="tag" th:text="#{admin.plugin.edit}"></span></h1>
                <form method="post" th:object="${plugin}">
                    <table>
                        <tr>
                            <td th:text="#{admin.plugin.form.title}"></td>
                            <td>
                                <input type="text" th:field="*{title}" />
                                <input type="hidden" th:field="*{filename}" />
                            </td>
                            <td class="error"><p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p></td>
                        </tr>
                        <tr>
                            <td th:text="#{admin.plugin.form.description}"></td>
                            <td>
                                <input type="text" th:field="*{description}" />
                            </td>
                            <td class="error"><p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p></td>
                        </tr>
                        <tr>
                            <td th:text="#{admin.plugin.form.filename}"></td>
                            <td th:text="*{filename}"></td>
                            <td class="error"><p th:if="${#fields.hasErrors('filename')}" th:errors="*{filename}"></p></td>
                        </tr>
                        <tr>
                            <td th:text="#{admin.plugin.form.enabled}"></td>
                            <td>
                                <input type="checkbox" th:field="*{enabled}" />
                            </td>
                            <td class="error"><p th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}"></p></td>
                        </tr>
                    </table>
                    <input type="submit" th:value="#{admin.plugin.form.edit.send}" />
                </form>
            </div>
        </section>
    </body>
</html>
