<!DOCTYPE html>
<html layout:decorator="/layout/admin">
    <body>
        <section layout:fragment="content" class="users">
            <div class="content">
                <h1 th:text="#{admin.user.title}"></h1>
                <table>
                    <tr>
                        <th th:text="#{admin.user.table.id}"></th>
                        <th th:text="#{admin.user.table.username}"></th>
                        <th th:text="#{admin.user.table.email}"></th>
                        <th th:text="#{admin.user.table.date}"></th>
                        <th th:text="#{admin.user.table.role}"></th>
                        <th th:text="#{admin.user.table.status}"></th>
                    </tr>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.userId}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.created}"></td>
                        <td th:text="${user.userRoleId == 2} ? admin : user"></td>
                        <td th:text="${user.enabled} ? enabled : disabled"></td>
                    </tr>
                </table>
            </div>
        </section>
    </body>
</html>
