<!DOCTYPE html>
<html layout:decorator="/layout/admin">
    <body>
        <section layout:fragment="content" class="users">
            <div class="content">
                <h1>Users</h1>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Date of registration</th>
                        <th>Role</th>
                        <th>Status</th>
                    </tr>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.userId}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.created}"></td>
                        <td th:text="${user.userRoleId == 2} ? admin : user"></td>
                        <td th:text="${user.enabled} ? enabled : disabled"></td>
                    </tr>
                </table>
            </div>
        </section>
    </body>
</html>
