<!DOCTYPE html>
<html layout:decorator="/layout/dashboard">
    <body>
        <section layout:fragment="content">
            <div class="content">
                <h1 th:text="#{account.signin.title}"></h1>
                <div th:if="${error}" class="errorblock" th:text="#{account.form.signin.error}"></div>
                <form name="f" th:action="@{j_spring_security_check}" method="POST">
                    <table>
                        <tr>
                            <td th:text="#{account.form.username}"></td>
                            <td><input type="text" name="j_username" value="" /></td>
                        </tr>
                        <tr>
                            <td th:text="#{account.form.password}"></td>
                            <td><input type="password" name="j_password" /></td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td><input name="submit" type="submit" th:value="#{account.form.signin.send}" /></td>
                        </tr>
                    </table>
                </form>
                <p><span th:remove="tag" th:text="#{account.doNotHaveAccount}"></span> <a th:href="@{/signup}" th:text="#{account.signup.title}"></a>, <span th:remove="tag" th:text="#{account.itIsFree}"></span>.</p>
            </div>
        </section>
    </body>
</html>
