<!DOCTYPE html>
<html layout:decorator="/layout/main">
    <body>
        <section layout:fragment="content">
            <div class="content">
                <h1 th:text="#{account.signup.title}"></h1>
                <div th:if="${error}" class="errorblock">
                    <span th:remove="tag" th:text="#{account.form.signup.error}"></span>
                    <ul>
                        <li th:if="${usernameConflict}">
                            <span th:remove="tag" th:text="#{account.form.signup.error.usernameConflict.part1}"></span>
                            <span th:text="${oldUsername}" th:remove="tag"></span>
                            <span th:remove="tag" th:text="#{account.form.signup.error.usernameConflict.part2}"></span>
                        </li>
                        <li th:if="${usernameLength}" th:text="#{account.form.signup.error.usernameLength}"></li>
                        <li th:if="${weakPassword}" th:text="#{account.form.signup.error.weakPassword}"></li>
                        <li th:if="${confirmPassword}" th:text="#{account.form.signup.error.confirmPassword}"></li>
                        <li th:if="${emailConflict}">
                            <span th:remove="tag" th:text="#{account.form.signup.error.emailConflict.part1}"></span>
                            <span th:text="${oldEmail}" th:remove="tag"></span>
                            <span th:remove="tag" th:text="#{account.form.signup.error.emailConflict.part2}"></span>
                        </li>
                        <li th:if="${emailValidation}">
                            <span th:text="${oldEmail}" th:remove="tag"></span>
                            <span th:remove="tag" th:text="#{account.form.signup.error.emailValidation}"></span>
                        </li>
                    </ul>
                </div>
                <form method="post" th:action="@{/signup}" th:object="${user}">
                    <table>
                        <tr>
                            <td th:text="#{account.form.username}"></td>
                            <td><input type="text" th:field="*{username}" /></td>
                        </tr>
                        <tr>
                            <td th:text="#{account.form.password}"></td>
                            <td><input type="password" th:field="*{password}" /></td>
                        </tr>
                        <tr>
                            <td th:text="#{account.form.confirmPassword}"></td>
                            <td><input type="password" th:field="*{confirmPassword}" /></td>
                        </tr>
                        <tr>
                            <td th:text="#{account.form.email}"></td>
                            <td><input type="text" th:field="*{email}" /></td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td><input type="submit" th:value="#{account.form.signup.send}" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        </section>
    </body>
</html>
