<!DOCTYPE html>
<html layout:decorator="/layout/main">
    <body>
        <section layout:fragment="content">
            <div class="content">
                <h1>Sign up</h1>
                <div th:if="${error}" class="errorblock">
                    Sorry, the following occurred:
                    <ul>
                        <li th:if="${usernameConflict}">username <span th:text="${oldUsername}" th:remove="tag"></span> has already been used</li>
                        <li th:if="${usernameLength}">username has to be at least 3 chars long</li>
                        <li th:if="${weakPassword}">password has to be at least 8 chars long, has to contain number, lowercase and uppercase without any whitespaces</li>
                        <li th:if="${confirmPassword}">passwords do not match</li>
                        <li th:if="${emailConflict}">email <span th:text="${oldEmail}" th:remove="tag"></span> has already been used</li>
                        <li th:if="${emailValidation}"><span th:text="${oldEmail}" th:remove="tag"></span> is not valid email address</li>
                    </ul>
                </div>
                <form method="post" th:action="@{/signup}" th:object="${user}">
                    <table>
                        <tr>
                            <td>Username:</td>
                            <td><input type="text" th:field="*{username}" /></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td><input type="password" th:field="*{password}" /></td>
                        </tr>
                        <tr>
                            <td>Confirm password:</td>
                            <td><input type="password" th:field="*{confirmPassword}" /></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input type="text" th:field="*{email}" /></td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td><input type="submit" value="Register" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        </section>
    </body>
</html>
