@import 'reset.scss';
@import 'global.scss';

header {
    nav {
        .user {
            float: right;
            margin-top: 1em;
        }
    }
    .subnav {
        ul li {
            float: left;
            margin-right: 2em;
        }
    }
}

.users {
    table {
        width: 100%;
        
        th {
            background-color: $gray;
        }
    }
}

.disabled {
    color: rgb(180, 180, 180);
}

.agents {
    table {
        width: 100%;
    }
    .add {
        display: inline-block;
        margin-top: 2em;
        padding-left: 1.5em;
        position: relative;
        
        &:before {
            content: "+";
            position: absolute;
            display: block;
            width: 1em;
            height: 1em;
            text-align: center;
            top: 0;
            left: 0;
            background-color: $green;
            color: white;
            border-radius: 50%;
        }
    }
    .description {
        color: rgb(180, 180, 180);
        font-size: .8em;
    }
}
