@import 'reset.scss';
@import 'global.scss';

header {
    nav {
        .user {
            float: right;
            margin-top: 1em;
        }
    }
}
.user {
    h2 {
        margin-bottom: 0;
    }
    p {
        margin-bottom: 1em;
    }
    input[type="submit"] {
        margin-top: 2em;
    }
}

.contacts, .tests {
    table {
        width: 100%;
    }
    .add {
        display: inline-block;
        margin-top: 2em;
        padding-left: 1.5em;
        position: relative;
        
        &:before {
            content: "+";
            position: absolute;
            display: block;
            width: 1em;
            height: 1em;
            text-align: center;
            top: 0;
            left: 0;
            background-color: $green;
            color: white;
            border-radius: 50%;
        }
    }
    .description {
        color: rgb(180, 180, 180);
        font-size: .8em;
    }
}

.reports {
    table.results {
        border-collapse: collapse;
        border-spacing: 0;
        
        td {
            border: 1px $gray solid;
            padding: .2em 1em;
        }
        tr {
            &.run td {
                font-weight: bold;
            }
            &.stop td {
                color: $gray;
                font-weight: bold;
            }
            &.down td {
                color: $gray;
            }
        }
    }
    .pies {
        margin-bottom: 5em;
    }
    .pie {
        margin: 0 0 2em 0;
        width: 300px;
        height: 300px;
        float: left;
        
        & + .pie {
            margin-left: 19px;
        }
        & > div {
            width: 100%;
            height: 100%;
        }
        h2 {
            text-align: center;
        }
    }
    .allTime {
        width: 100%;
        height: 200px;
        margin-bottom: 5em;
        
        .jqplot-axis {
            display: none;
        }
    }
}
