$cyan: rgb(76, 189, 255);
$coldblack: rgb(25, 26, 28);
$green: rgb(150, 200, 56);
$darkgray: rgb(64, 81, 89);
$gray: rgb(159, 168, 172);

html {
    overflow-y: scroll;
}
body {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: $coldblack;
}
h1 {
    font-size: 1.6em;
    margin-bottom: 1em;
}
h2 {
    font-size: 1.3em;
    margin: 2em 0 1em;
}
p + p {
    margin-top: 1em;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: $cyan;

    &:hover {
        text-decoration: underline;
    }
}
.content {
    width: 978px;
    margin: auto;
}
header {
    background-color: $green;
    color: white;
    padding: 2em 0;
    margin-bottom: 2em;
    
    .clearfix {
        width: 100%;
    }
    a {
        color: white;
        padding: .4em 1em .5em;
        border-radius: .5em;
        -webkit-transition: all 150ms ease;
        -moz-transition: all 150ms ease;
        -ms-transition: all 150ms ease;
        -o-transition: all 150ms ease;
        transition: all 150ms ease;
        
        &.sign {
            background-color: $darkgray;
        }
        &:hover {
            text-decoration: none;
            background-color: $gray;
            color: $darkgray;
        }        
    }
    .logo {
        font-size: 1.8em;
        float: left;
        
        a {
            padding: 0;
            
            &:hover {
                color: white;
                background-color: $green;
            }
            span {
                color: $coldblack;
                
                &:hover {
                    color: $coldblack;
                }
            }
        }
    }
    nav {
        float: right;
        
        ul {
            margin-left: 5em;
            
            li {
                display: inline-block;
                margin: .2em 1em;
            }
        }
    }
}
input {
    border: 1px $coldblack solid;
    padding: .1em;
    
    &[type="text"], &[type="password"] {
        width: 20em;
    }
    &[type="submit"] {
        padding: .2em .5em;
    }
}
section {
    .errorblock {
        border: 1px red solid;
        color: red;
        margin: 1em 0;
        padding: 1em;
    }
    .okblock {
        border: 1px green solid;
        color: green;
        margin: 1em 0;
        padding: 1em;
    }
    ul li {
        margin-left: 1.5em;
        list-style-type: disc;
    }
}
table {
    td {
        padding: .2em 1em .2em 0;
    }
}
footer {
    background-color: $green;
    color: white;
    margin-top: 2em;
    padding: 2em 0;
    
    a {
        color: white;
    }
}