<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link th:href="@{/assets/css/dashboard.css}" type="text/css" rel="stylesheet" media="all" />
        <!--[if lte IE 8]><script th:src="@{/assets/js/vendor/html5shiv.js}"></script><![endif]-->
        <script th:src="@{/assets/js/vendor/jquery.min.js}"></script>
        <title>myCheckIT!</title>
    </head>
    <body>
        <header>
            <div class="content">
                <div class="clearfix">
                    <div class="logo"><a th:href="@{/dashboard/}">myCheck<span>IT</span>!</a></div>
                    <nav th:if="${#authorization.expression('isAuthenticated()')}">
                        <ul>
                            <li><a th:href="@{/dashboard/}" th:text="#{system.menu.dashboard}"></a></li>
                            <li><a th:href="@{/dashboard/checks}" th:text="#{system.menu.dashboard.checks}"></a></li>
                            <li><a th:href="@{/dashboard/results}" th:text="#{system.menu.dashboard.results}"></a></li>
                            <li><a th:href="@{/dashboard/contacts}" th:text="#{system.menu.dashboard.contacts}"></a></li>
                        </ul>
                        <ul class="user">
                            <li><a th:href="@{/dashboard/account}" sec:authentication="name"></a></li>
                            <li><a th:href="@{/j_spring_security_logout}" class="sign" th:text="#{system.menu.logout}"></a></li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}" class="sign" th:text="#{system.menu.admin}"></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <section layout:fragment="content">

        </section>
        <footer>
            <div class="content">
                <p>&copy;2014 CheckIT!</p>
                <p>...</p>
            </div>
        </footer>
    </body>
</html>
